body{
	font-family: sans-serif;
	background: url("https://img.clipartfest.com/d06e7c7122ea040b1782adfaf69eaba8_in-grocery-store_2250-1500.jpeg");
	background-size: cover;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#bands {
	list-style: inside square;
	font-size: 20px;
	background: rgba(255, 245, 238, 0.68);
	width: 500px;
	margin: auto;
	padding: 0;
	box-shadow:  0 0 0 20px rgba(0,0,0,0.05);
}

#bands li {
	border-bottom: 1px solid #efefef;
	padding: 20px;
}

#bands li:last-child {
	border-bottom: 0;
}

a{
	color:#ffc600;
	text-decoration: none;
}